<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="col">
                <p th:if="${info != null}" th:text="${info}" class="alert alert-success" role="alert"></p>


                <form action="/admin/news/add" enctype="multipart/form-data" method="post" th:object="${newsForm}">
                    <div class="form-group">
                        <input th:field="*{title}" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Tytuł">
                    </div>
                    <div class="form-group">
                        <input th:field="*{author}" type="text" class="form-control" placeholder="Autor">
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{newsContent}" class="form-control" rows="3" placeholder="Treść newsa"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{newsFakeProvement}" class="form-control" rows="3" placeholder="Dowód na fake"></textarea>
                    </div>
                    <div class="form-group">
                        <input th:field="*{newsOrigin}" type="text" class="form-control"  placeholder="Link">
                    </div>
                    <div class="form-group">
                        <input th:field="*{imageHeader}" type="file" class="form-control" >
                    </div>


                    <button type="submit" class="btn btn-primary">Dodaj!</button>
                </form>
        </div>
    </div>

</body>
</html>